<%= link_to "patients/#{session[:id]}" do %>
  <i class="material-icons icon-blue">arrow_back</i>
<% end %>
<br>
<br>

<%= link_to new_drug_path do %>
  <i class="material-icons icon-blue">add</i>Adicionar Medicamento
<% end %>
<br>
<br>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @drugs.each do |drug| %>
    <tr>
      <td><a href="/drugs/<%= drug.id %>"><%= drug.name %></a></td>
      <td>
        <%= link_to drug, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
          <i class="material-icons icon-blue">delete_forever</i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>