<p id="notice"><%= notice %></p>
<%= link_to '<', "patients/#{session[:id]}" %>

<h1>Listagem de Medicamentos</h1>

<br>
<%= link_to '+ Adicionar Medicamento', new_drug_path %>
<br>
<br>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @drugs.each do |drug| %>
    <tr>
      <td><a href="/drugs/<%= drug.id %>"><%= drug.name %></a></td>
      <td><%= link_to 'X', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>