<p id="notice"><%= notice %></p>

<h1>Listagem de Medicamentos</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.id %></td>
        <td><%= drug.name %></td>

        <td><%= link_to 'Exibir', drug %></td>
        <td><%= link_to 'Editar', edit_drug_path(drug) %></td>
        <td><%= link_to 'Deletar', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Drug', new_drug_path %>
