<p id="notice"><%= notice %></p>

<%= link_to registrations_path do %>
  <i class="material-icons icon-blue">arrow_back</i>
<% end %>
<br>

<% if false %>
  <h2>
    Preencha os dados para efetuaro cadastro
    <br>
    Etapa 1 de 3
  </h2>
<% end %>

<h2>
  Insira seus dados para realizaro login
</h2>
<div class="actions">
  <%= form_for(@patient, url: { action: 'login' }, local: true) do |form| %>
    E-mail ou CPF
    <div class="form-group">
      <%= form.text_field :cpf, class: "form-control" %>
    </div>

    Senha
    <div class="form-group">
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <br>
    <%= form.submit 'Entrar', class: 'btn btn-primary' %>
  <% end %>
</div>
