<p id="notice"><%= notice %></p>

<div style="text-align: center;">
  <i class="material-icons icon-gray large">person</i><br>
  <%= @patient.name %>
</div>

<table class="table">
  <thead>
  <tbody>
  <tr>
    <td>
      <%= link_to drugs_path do %>
        <i class="material-icons icon-blue">assignment_turned_in</i>Controle de Medicamentos
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to exams_path do %>
        <i class="material-icons icon-blue">content_paste</i>Registro de Exames
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to '#' do %>
        <i class="material-icons icon-blue">chat</i>Fale Conosco
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to '#' do %>
        <i class="material-icons icon-blue">person_add</i>Alteração de Dados
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<div style="text-align: center;"><%= link_to 'SAIR', registrations_path, class: 'btn btn-primary' %></div>
